.sorting-list-container{
  margin: 12px;
  overflow: hidden;
user-select: none;
}

.filter-options{
  display: flex;
  justify-content: space-between;
  padding: 2px; 
 gap: 5px
 flex-direction: row;
 margin-bottom: 8px;
}
.filter-options p:hover{
  background-color: #6666;
  color: #00F5D4;
}
.filter-options span{
  font-size: 40px;
  color: #00F5D4;
  cursor: pointer;
}
.filter-options p{
  padding: 10px;
  border: 2px solid #aaaa;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  border-radius: 30px;
}
.archive-container{
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #aaaa;
  font-size: 18px;
  border-top: 2px solid #6666;
  border-bottom: 2px solid #6666;
  margin: 15px;
  padding: 8px;
  cursor: pointer;
}
.archive-container:hover{
  background-color: #6666;
}
.archive-container span{
  font-size: 25px;
}
.archive-container p:nth-child(2){
  text-align: right;
  margin-right: 5px;
}