.container-container-wrapper{
  flex: 1;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 70px;
  user-select: none;
}

.top-container-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  position: sticky;
  top: 0;
  background:;
  z-index: 5;
  margin-bottom: 15px;
}

.top-container-wrapper input{
  flex: 1;
  padding: 12px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.top-container-wrapper span{
  font-size: 30px;
  background-color: #00F5D4;
  flex-shrink: 0;
  color: black;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.message-container{
  width: 100%;
}

.content-wrapper{
  display: flex;
  gap: 10px;
  padding: 10px 15px;
  border-bottom: 1px solid #aaaa;
  align-items: center;
  cursor: pointer;
}
.content-wrapper:hover{
  background-color: #6666;
}
.image-case{
  flex-shrink: 0;
}

.image-case img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

.content{
  flex: 1;
  min-width: 0;
}

.info{
  display: flex;
  justify-content: space-between;
}

.info p{
  margin: 0;
}
.info p:nth-child(1){
  font-size: 18px;
  font-weight: bold;
}

.info p:nth-child(2){
  font-size: 15px;
  color: #aaaa;
}

.message-message p{
  margin: 4px 0 0 0;
  font-weight: normal;
  color: #aaaa;
}
.message-message{
  text-align: left;
  font-size: 15px;
}