body{
    font-size: 13px;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
   user-select: none;
}

.terms-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.terms-main-container p{
    color: #aaaa;
}
.headers {
    margin: 10px;
    width: 50%;
    margin: 30px;
}
.headers img{
    width: 200px;
    height: 200px;
    object-fit: contain;

}
.headers h1{
    font-size: 50px;
}
.container{
    background-color: transparent;
}

.terms-container h1{
    font-size: 30px;
}
.terms-container p{
    font-size: 15px;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    background-color: none;
}
.terms-container p:nth-child(1){
    font-weight: bold;
}
.terms-container p:nth-child(even){
    font-weight: bold;
    font-size: 18px;
}
.functional-layout{
    margin: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.functional-layout button{
    width: 45%;
    font-size: 18px;
    border: none;
    padding: 10px;
    background-color: #00F5D4;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    color: black;
    cursor: pointer
}
.functional-layout button:nth-child(1){
    background-color: #aaaa;
}
.language-selectors{
margin: 12px;
padding: 10px;
border: 2px solid #aaaa;
border-radius: 10px;
font-size: 18px;
width: 40%;
overflow: ;
cursor: pointer;
}
.language-selectors span{
    margin: 5px;
    font-size: 20px
}
.language-selectors span:nth-child(1){
    color: #00F5D4;
    float: left;
}
.language-selectors span:nth-child(2){
    color: #aaaa;
    float: right;
}