:root {
  --bg: #f1f1f1;
  --text: #111;
  --accent: #00F5D4;
  --absText: #aaaaaa;
  --border: #d1d1d1;
  --card-bg: #fff;
  --hover: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --text: #f1f1f1;
    --accent: #00F5D4;
    --absText: #888;
    --border: #2a2a2a;
    --card-bg: #121212;
    --hover: #1a1a1a;
  }
}
[data-theme= "dark" ]{
     --bg: #000;
    --text: #f1f1f1;
    --accent: #00F5D4;
    --absText: #888;
    --border: #2a2a2a;
    --card-bg: #121212;
    --hover: #1a1a1a; 
}
[data-theme= "light"]{
    --bg: #f1f1f1;
  --text: #111;
  --accent: #00F5D4;
  --absText: #aaaaaa;
  --border: #d1d1d1;
  --card-bg: #fff;
  --hover: #f5f5f5;
}
.footer-container{
  width: 100%;
  height: 85px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: ;
  border-top: 2px solid #00F5D4;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  user-select: none;
  z-index: 5;
  background-color: var(--bg);
}

.footer-span-wrapper{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
}

.footer-span-wrapper div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0px;
  cursor: pointer;
  user-select: none;
}

.footer-span-wrapper div span{
  font-size: 35px;
  color: #aaaaaa;
  padding: 5px;
  user-select: none;
}
.footer-span-wrapper div h1{
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  font-weight: 500;
  user-select: none;
}
.footer-span-wrapper span,
.footer-span-wrapper h1 {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.footer-span-wrapper .selected{
  background-color: #00F5D4;
  color: black;
  border-radius: 50%;
  padding: 5px;
}
.footer-span-wrapper .selectedText{
  color: #00F5D4;
}
.footer-span-wrapper .unselect{
  background-color: transparent;
  color: #aaaaaa;
  border-radius: 10px;
}
.footer-span-wrapper .unselectText{
  color: #aaaaaa;
}