body{
    font-size: 13px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    user-select: none;
}
.selector-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.2);
    z-index: 9999;
}
.modal-container {
    width: 350px;
    max-height: 80vh;
    border-radius: 12px;
    overflow-y: auto;
    padding: 15px;
    background-color: black;
    border: 1px solid #00F5D4;
    margin: auto;
}
.modal-container input{
    width: 90%;
    padding: 10px;
    border: 1px solid #6666;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px;
}
.modal-container input:focus{
    outline: none;
}
.list-languages{
display: block;
font-size: 15px;
font-size: 18px;
overflow-y: auto;
height: 60vh;
}
.list-languages p{
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}
.list-languages p span{
    float: right;
    color: black;
    font-size: 25px;
}
.list-languages h3{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}
.btn-container {
    width: 100%;
}
.btn-container button{
    padding: 10px;
    width: 45%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: normal;
    background-color: #00F5D4;
    color: black;
    margin: 8px;
    cursor: pointer;
}
.btn-container button:nth-child(1){
 background-color: #6666;
 color: white;
}